<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>>
    </title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
</body>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year Established</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>

        <% states.forEach(s=> { %>
            <tr>
                <td>
                    <%= s.name %>
                </td>
                <td>
                    <%= s.yearEstablished %>
                </td>
                <td>
                    <%= s.region %>
                </td>
                <td>
                    <a href="/states/<%=s._id%>">DETAILS</a>
                </td>
            </tr>
            <!-- Close the forEach using EJS here -->
            <% }) %>

    </tbody>

</html>